<div class='center'>
    <div class='content'>
        <div class='row vert-pad'>
            <div class='left padded'>
                <h1>Desarrollo con pasión aplicaciones y sitios web.</h1>
                <p>Me encuentro en constante aprendizaje de nuevas tecnologías y desarrollando aplicaciones por placer.
                    Esta web la construí desde cero con Python y Flask. ¡Y lo que falta por conocer todavía!</p>
            </div>
            <div class='right padded'>
                <h1>¡Podemos conversar tus ideas!</h1>
                <p>No dudes en contactarme pinchando <a class='orange' href='contacto'>aquí.</a>
                </p>
            </div>
        </div>
    </div>
</div>